@using StudentDatabase.Controllers.DAL;
        <!-- Sign up form -->
@{
    var (dataNames, _) = User_DalBase.userData();
}
<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form asp-action="Registered" asp-controller="Home" method="POST" class="register-form" id="register-form">
                    @foreach (string name in dataNames)
                    {
                        <div class="form-group">
                            <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="@(name=="UserPassword"?"password":"text")" name="@name" id="@name" placeholder="@name" asp-for="Your @name" value="" />
                            <span asp-validation-for="@name"></span>
                        </div>
                    }
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="~/pages/LoginSignUp/images/signup-image.jpg" alt="sing up image"></figure>
                <a asp-action="Login" class="signup-image-link">I am already member</a>
            </div>
        </div>
    </div>
</section>
